#heading{
    position: fixed;
    font-size:75;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:.25;
}
#start{
    position:fixed;
    font-size:75;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
}
.hide{
    display:none;
}

#b1{
    height: 10%;
    width: 10%;
    left: 0px;
}
body{
    background-color:red;
}
#balls{
    height:100%;
    width:100%;
}
#score{
    position:fixed;
    top:0;
    left:90%;
}